:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header{
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #0a6bbb 1.18%, #0f5d91 100%);
  color: white;
  padding: 20px;
  width: auto;
}

.header--title{
  font-size: 1.75rem;
}

